<!DOCTYPE html>
<html>
    <head>
        <title>Flight Simulator</title>

        <link rel="stylesheet" href='/static/style/style.css' />
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body>
        <canvas id="mainCanvas"></canvas>

        <div id="findLocationDiv" style="display: none;">
            <div id="map"></div>
            <form id="menu" autocomplete="off">
              <!-- See a list of Mapbox-hosted public styles at -->
              <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
              <input id="satellite-v9" type="radio" name="rtoggle" value="satellite">
              <label for="satellite-v9">satellite</label>
              <input id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked">
              <label for="streets-v11">streets</label>
            </form>
            
            <!--<form id="searchFieldForm">
              <input id="searchField" placeholder="Search for somewhere..."></input>
              <button id="searchFieldBtn">Search</button>
            </form>-->
            
            <button id="launchBtn">Launch!</button>
        </div>

        <div id="APITokenDiv" style="display: none;">
            <h1>Connect to your Mapbox account</h1>
            <p>In order to download satellite information, you must use a valid API access token using Mapbox. Here is how to get one:</p>
            <ul>
                <li>Go to: <a href="https://mapbox.com" target="_blank" rel="noopener noreferrer">https://mapbox.com</a>, and sign in (or create an account if you don't have one).</li>
                <li>Once you are signed in, go to the Mapbox account page: <a href="https://account.mapbox.com" target="_blank" rel="noopener noreferrer">https://account.mapbox.com</a></li>
                <li>Copy the API access token, under the "Access tokens" section, and enter it below:</li>
            </ul>
            
            <p>Once you have entered an API key, the flight simulator will use it to download satellite imagery.</p>
            
            <label>Mapbox API access token:</label>
            <input id="APIToken">
            <button id="CheckAPIToken">Check</button>
            <p id="APITokenResult"></p>
        </div>
        
        <script type="text/javascript" src="/static/lib/three.min.js"></script>
        <script type="text/javascript" src="/static/lib/three-geo.min.js"></script>
        <script type="text/javascript" src="/static/lib/OrbitControls.js"></script>
        <script type="text/javascript" src="/static/js/APIToken.js"></script>
        <script type="text/javascript" src="/static/js/airports.js"></script>
    </body>
</html>