body{
    margin: 0;
    overflow: hidden;
}

button{
    background-color: #3b5998;

    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    color: white;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

input{
    padding: 8px;
    border: 1px solid grey;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

button:hover{
    cursor: pointer
}

#cesiumDiv{
    width: 100vw;
    height: 100vh;
}

#APITokenDiv, #settingsDiv{
    position: absolute;
    background-color: #ffffff;

    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;

    box-shadow: 0px 0px 25px 3px rgba(72,72,72,0.25);
    -webkit-box-shadow: 0px 0px 25px 3px rgba(72,72,72,0.25);
    -moz-box-shadow: 0px 0px 25px 3px rgba(72,72,72,0.25);
    
    left: calc(10vw);
    top: calc(10vh);

    padding: 16px;
    box-sizing: border-box;

    width: 80vw;
    height: 80vh;
}

#settingsDiv{
    width: 100vw;
    height: 100vh;

    left: 0px;
    top: 0px;
}

#simulatorBtn{
    position: absolute;
    
    -border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    
    right: 32px;
    top: 32px;
}

#settingsBtn{
    position: absolute;
    
    -border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    
    right: 32px;
    top: 32px;

    z-index: 1;
}

#resetViewBtn{
    display: none; /* Hidden by default */
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 1;
}

.UI{
    -border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    padding-left: 16px;
    padding-right: 16px;
    padding: 8px;

    border: none;
    color: white;
    
    background-color: #aaaaaa30;
    backdrop-filter: blur(10px);
}